.faq {
  padding: 40px;
}

.question {
  font-weight: bold;
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.question,
.answer {
  margin: 15px;
}

.faq-item {
  margin: 24px auto;
}