#header {
  background-color:rgb(7, 49, 7);
  padding-bottom: 20px;
}

.nav {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.nav-link {
  color: goldenrod;
  font-family: GoldenSun;
  font-size: 22px;
  text-decoration: none;
}

.active,
 a:hover {
  color: brown;
}
