#header {
  background-color:rgb(7, 49, 7);
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.nav-link {
  color: goldenrod;
  font-family: GoldenSun;
  font-size: 22px;
  text-decoration: none;
}

.active,
 a:hover {
  color: brown;
}

@media screen and (max-width: 480px) {
  #header{
    padding: 10px;
  }

  .game-logo {
    display: none;
  }

  .nav {
    gap: 30px;
  }

  .nav-link {
    font-size: 16px;
  }
}
